[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
notebook = "*"
selenium = "*"
webdriver-manager = "*"
tqdm = "*"
langchain = "*"
openai = "*"
unstructured = "*"
faiss-cpu = "*"
tiktoken = "*"

[dev-packages]

[requires]
python_version = "3.9"
